@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

// $main-color: hsl(168, 61%, 60%);
$main-color: #ffc63e;
$light-color: #fff;
$dark: #000;

@mixin sm-screen {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 769px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: $main-color;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Times New Roman', Times, serif;
  padding: 1.25em 0;

  @include large {
    font-size: min(3vw, 18px);
    padding: 2em 0;
  }

  .header {
    padding-bottom: 1.5em;

    @include large() {

      padding-bottom: 2.5em;
    }

    img {
      max-width: clamp(160px, 25%, 15em);
      margin: 0 auto;
    }
  }

  h1 {
    color: #fff;
    text-align: center;
  }

  img {
    width: 100%;
    display: block;
  }

  .light-color {
    color: $light-color;
    font-size: 1.25em;
    font-size: 1.1em;

    &--with-bg {
      display: inline-block;
      background: #000;
      padding: 0 0.06em;
    }
  }


  .hidden {
    display: none;
  }

  .container {
    max-width: 48em;
    width: 94%;
    margin-left: auto;
    margin-right: auto;

    &--with-border {
      border: 4px solid $light-color;

      @include large() {
        border: 5px solid $light-color;
      }

      &+.container--with-border {
        margin-top: -4px;

        @include large() {
          margin-top: -5px;
        }
      }
    }
  }

  p {
    margin: 0;

    &.context {
      font-size: 1.4em;
      font-weight: 800;
      line-height: 1.35;

      @include large() {
        font-size: 2em;
      }

      &--smaller {
        font-size: 1em;

        @include large() {
          font-size: 1.2em;
        }
      }
    }

    &.legend {
      font-size: 0.9em;
      font-style: italic;
    }
  }


  .user-inputs-wrapper {
    font-family: sans-serif;
    margin: 0 auto 2.5em;
    display: grid;
    grid-template-columns: 1fr 5em 1fr;

    @include large() {
      grid-template-columns: 1fr 6em 1fr;
      margin-bottom: 3em;
    }

    .time-period {
      margin: .5em 0;

      #today {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1.1em;
      }
    }

    .boomer-inputs,
    .z-inputs {
      padding: 1.5em 0 1em;

      @include large() {
        padding: 3em 0 2em;
      }
    }

    .boomer-inputs {
      text-align: right;
    }

    input {
      border: none;
      outline: none;
      overflow: hidden;
      box-sizing: border-box;
      padding: 0;

      &[type=number]::-webkit-inner-spin-button {
        opacity: 1; // make arrows always visible (at least in chrome)
      }

      &#boomerWage {
        text-align: right;
      }

      &#boomerWage,
      &#zWage {
        background-color: transparent;
        padding: 0;
        text-decoration: underline;
        line-height: 1;
        font-size: 2.5em;
        width: 6ch;

        @include large() {
          font-size: 6em;
        }
      }

      &#boomerYear,
      &#zYear {
        padding-left: 0.3em;
      }
    }

    .divider {
      position: relative;

      &::before,
      &::after {
        display: block;
        position: absolute;
        background-color: #fff;
        left: 50%;
      }

      &::before {
        content: "";
        width: 4px;
        top: 0;
        bottom: 0;
        transform: translateX(-50%);

        @include large() {
          width: 5px;
        }
      }

      &::after {
        content: "$/hr";
        font-weight: bold;
        text-align: center;
        width: 2.6em;
        height: 2.6em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100vh;
        top: 50%;
        transform: translate(-50%, -50%);

        @include large() {
          width: 3.5em;
          height: 3.5em;
        }
      }
    }
  }

  .calculations-wrapper {
    margin-bottom: 2em;

    article {

      &.history-dollar {
        display: grid;
        grid-template-columns: 80% 20%;

        @include large {
          grid-template-columns: 75% 25%;
        }

        .history-dollar__text {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: right;
          padding: 3em 2.5em 3em 2em;

          @include large() {
            padding: 4em 3em;
          }
        }

        .history-dollar__graphic {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          padding-top: 0.5em;
        }
      }

      &.college-stats {
        display: grid;
        background-color: $light-color;

        @include large() {
          grid-template-columns: 1fr 1fr;
        }

        .college-stats__graphic {
          padding-top: 1em;
          order: 2;

          @include large() {
            order: unset;
          }

          img {
            margin: 0 auto;
            width: 80%;

            @include large() {
              width: 100%;
            }
          }
        }

        .college-stats__text {
          align-items: center;
          text-align: center;
          padding: 2em 1.5em;

          @include large() {
            display: flex;
            justify-content: center;
            padding: 0 2em 0 3em;
            text-align: left;
          }
        }
      }

      &.upenn-chart {
        padding: 2em 1em 1em 0.5em;
        text-align: center;

        @include large() {
          padding: 2em 0em 1em 0.5em;
        }

        p.context {
          margin: 0;

          &--smaller {
            margin-bottom: 1.25em;

            @include large() {
              margin-bottom: 0.5em;
            }
          }
        }

        p.legend {
          padding: 1em 2em 0;
        }
      }

      &.uni-real-cost {

        @include large() {
          display: grid;
          grid-template-columns: 25% 75%;

        }

        .uni-real-cost__graphic {
          height: 26em;
          overflow: hidden;
          display: none;

          @include large() {
            height: unset;
            display: flex;
            align-items: center;
            padding: 2em 0.5em 0.5em;
          }

          // img {
          //   width: 65%;
          //   margin: 0 auto;
          //   transform: translateY(-12%);
          // }

        }

        .uni-real-cost__text {
          background-color: $light-color;
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: left;
          padding: 2em;

          @include large() {
            padding: 2em 3em 2em;
          }

          p+p {
            margin-top: 1em;
          }
        }
      }

      &.place-to-live {
        display: grid;
        grid-template-columns: 60% 40%;

        .place-to-live__text {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: right;
          padding: 3em 2.5em 3em 2em;

          @include large() {
            padding-right: 1em;
          }


          .context {
            color: $light-color;
            max-width: 7em;
          }
        }

        .place-to-live__graphic {
          padding: 1.5em 0 1em;

          @include large() {
            padding: 2em 0 1em 0;
          }
        }
      }

      &.rent-chart {
        display: grid;
        grid-template-columns: 35% 65%;

        @include large() {
          grid-template-columns: 25% 75%;
        }

        .rent-chart__graphic {
          display: flex;
          justify-content: center;
          padding: 2em 0.5em 1em;
          align-items: flex-end;
          border-right: 4px solid $light-color;

          @include large {
            padding: 2em 0.5em 0.5em;
            border-right-width: 5px;
          }
        }

        .rent-chart__line-graph {
          padding: 2em 1em 1em;
          text-align: center;

          p.context {
            margin: 0;

            &--smaller {
              margin-bottom: 1.25em;

              @include large() {
                margin-bottom: 0;
              }
            }
          }

          .legend {
            // color: $light-color;
            padding: 1em 2em 0;

            @include large() {
              padding: 0.5 0 0 0;
            }
          }
        }
      }

      &.rent-real-cost {
        padding: 2em;
        background-color: $light-color;

        @include large() {
          // max-width: 18em;
          padding: 3em 6em;
        }

        .rent-real-cost__text {
          p+p {
            margin-top: 1em;
          }
        }
      }

      &.summary {
        display: grid;
        grid-template-columns: 65% 35%;

        @include large() {
          grid-template-columns: 1fr 1fr;
        }

        .summary__text {
          padding: 2em 1em;
          border-right: 4px solid $light-color;

          @include large() {
            border-right-width: 5px;
            display: flex;
            padding: 2em 2.5em;
            text-align: right;
            align-items: center;
          }
        }

        .summary_graphic {
          display: flex;
          justify-content: center;
          padding: 0.5em;

          @include large() {
            padding: 2em;
          }
        }
      }
    }
  }

  footer {
    text-align: center;
  }

}